<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>UserList</title>
    </head>

    <body sec:authorize="hasRole('ADMIN')">
        <h1>Add user</h1>

        <form th:action="@{/admin/addUser}" th:object="${userDto}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <label>Username:<input type="text" th:field="*{username}"></label>
            <label th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></label>
            <br>
            <br>
            <label>Password:<input type="password" th:field="*{password}"></label>
            <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
            <br>
            <br>
            <label>Role:<select th:field="*{roleNames}" multiple>
                <option th:each="name : ${roleNames}" th:value="${name}" th:text="${name}"></option>
            </select></label>
            <label th:if="${#fields.hasErrors('roleNames')}" th:errors="*{roleNames}"></label>
            <br>
            <br>
            <label>FirstName:<input type="text" th:field="*{firstName}"></label>
            <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
            <br>
            <br>
            <label>LastName:<input type="text" th:field="*{lastName}"></label>
            <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
            <br>
            <br>
            <label>Age:<input type="number" th:field="*{age}"></label>
            <label th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></label>
            <br>
            <br>
            <label>Email:<input type="email" th:field="*{email}"></label>
            <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></label>
            <br>
            <br>
            <a th:href="@{/admin/userList}"><button type="button">Back</button></a>
            <button type="submit">Add user</button>
        </form>
    </body>
</html>