<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>UserList</title>
    </head>

    <body>
        <h1>Update user</h1>

        <form th:action="@{/admin/updateUser}" method="post">
            <label>ID:<input type="number" name="id" required></label>
            <br>
            <br>
            <label>Username:<input type="text" name="username" required></label>
            <br>
            <br>
            <label>Password:<input type="password" name="password" required></label>
            <br>
            <br>
            <label>Role:
                <select name="roleName" required>
                    <option value="ROLE_USER">USER</option>
                    <option value="ROLE_ADMIN">ADMIN</option>
                </select>
            </label>
            <br>
            <br>
            <label>FirstName:<input type="text" name="firstName" required></label>
            <br>
            <br>
            <label>LastName:<input type="text" name="lastName" required></label>
            <br>
            <br>
            <label>Age:<input type="number" name="age" required></label>
            <br>
            <br>
            <label>Email:<input type="email" name="email"></label>
            <br>
            <br>
            <a th:href="@{/admin/userList}">
                <button type="button">Back</button>
            </a>
            <button type="submit">Update user</button>
        </form>

        <p th:if="${message}" th:text="${message}"></p>
    </body>
</html>